@import "../../styles/main_header";
@import "../../styles/main_watch_animal_cover_panda";
@import "../../styles/main-main-content";
@import "../../styles/pickAndFeed";
@import "../../styles/testimonials";
@import "../../styles/main_footer";
@import "../../styles/donate";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ul, li, a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
  }
}
//*, *:before, *:after {
//  outline: solid 1px #000;
//}
html {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  background-color: #000000;
  padding-top: 14px;
  position: absolute;
  .burger-list{
    opacity: 0;
    transition: .5s;

  }
  .burger-open{
    opacity: 1;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}
//.container{
//  min-width: 1160px;
//}
.watchAnimal {
  background-image: url("../../assets/Giant Panda.jpg");
  background-size: cover;
  max-width: 100%;
  height: 780px;

}


.button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  height: 54px;
  width: 298px;
  padding: 16px 1px 16px 5px;;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;

  &:hover {
    background: #E47209;
  }

  &:active {
    background: #4B9200;
  }
}
footer {
  width: 100%;

  overflow: hidden;
  height: 443px;
  background-color: #000000;
  padding-top: 41px;
  padding-bottom: 50px;
  z-index: 50;
  //position: absolute;
  @media screen and(max-width: 935px){
    height:44vw;
    padding: 0;
  }
  @media screen and(max-width: 630px){
    height:334px;
    padding: 0;
  }
}
.donate {
  background-image: url("../../assets/Giant Panda.jpg");
  background-size: cover;
  background-position: 0 -114px;
  width: 100%;
  height: 390px;
  @media screen and (max-width: 885px){
height: 373px;
    background-position: -344px 3.1vw;
  }
}
@media screen and (max-width: 1599px) {
  header {
    position: relative;
    z-index: 20;
  }
  .watchAnimal {
height: 50vw;
  padding-bottom: 20px;

  }
}
@media screen and (max-width: 1000px) {

  .watchAnimal {
    height: 55.4vw;
    //overflow: hidden;
    //overflow-x:hidden;
    background-image: url("../../assets/Giant Panda2.png");
    background-size: cover;
    background-position: 0 -2.6vw;
    //background-repeat: no-repeat;
    //background-position: top center;
  }
  .donate{
    background-image: url("../../assets/panda_bg-donate.png");
    background-size: cover;
    background-position: -165px 0.1vw;
  }
}
@media screen and (max-width: 780px) {
  header {
    height: 34px;
    padding: 0;
    position: fixed;
    z-index: 500;
  }
  .watchAnimal {
    height: 59.2vw;
    background-image: url("../../assets/Giant Panda3.png");
    background-size: cover;
    background-position: 0 -0.4vw;
  }
}
@media screen and (max-width: 885px){
  .donate{
  height: 373px;
  background-position: -344px 3.1vw;
    @media screen and (max-width: 580px){
      height: 221px;
      background-position: -209px 3.1vw;
    }
}
}
@media screen and (max-width: 480px){
  .watchAnimal {
    height: 69.3vw;
    background-image: url("../../assets/Giant Panda-4.png");
    background-size: cover;
    background-position: -5vw 7.6vw;
  }
}