.header {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
}
.header__logo {
  padding-top: 4px;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19.01px;
  line-height: 22.82px;
  text-align: center;
  position: relative;
}
.header__logo-bamboo {
  position: absolute;
  bottom: 10.5px;
  left: 8.5px;
}
.header__navigation {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 22.4px;
  margin-left: 63px;
  display: flex;
  align-items: center;
  gap: 438px;
  transition: 0.3s;
}
.header__navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 472px;
}
.header__navigation-item a {
  text-decoration: none;
}
.header__navigation-item a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #F9804B;
}
.header__navigation-item a:active {
  color: #F9804B;
}
.header .burger-menu {
  opacity: 0;
  width: 18px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.3s;
}
.header .burger-menu > div {
  border: 1px solid #ffffff;
}

.about a {
  color: #F9804B;
}

@media screen and (max-width: 1599px) {
  .header {
    min-width: 94%;
    margin: 0 30px;
  }
  .header__navigation {
    width: 80%;
    gap: 0;
    justify-content: space-between;
  }
  .header__navigation-list {
    justify-content: flex-start;
    gap: 48px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    position: relative;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__navigation {
    display: none;
  }
  .header .burger-menu {
    opacity: 1;
    display: flex;
    position: relative;
    top: 11px;
  }
  .header__logo {
    font-size: 12.29px;
    height: 29px;
    width: 47px;
    line-height: 14.75px;
    border: none;
  }
  .header__logo-bamboo {
    height: 13.56px;
    bottom: -0.5px;
    left: 4.5px;
  }
  .burger-menu {
    position: relative;
  }
  .burger-overlay {
    width: 110vw;
    height: 110vh;
    position: absolute;
    background-color: #000000;
    opacity: 0.4;
    display: none;
  }
  .overlay-open {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .header {
    margin: 0;
    padding: 0 10px;
  }
}
.burger-list {
  position: absolute;
  width: 100vw;
  height: 390px;
  background-color: #ffffff;
  padding: 10px;
}
.burger-list .burger-close {
  position: absolute;
  top: 0;
  right: 13px;
}
.burger-list .burger-close:hover {
  cursor: pointer;
}
.burger-list li {
  max-width: 105px;
  margin-bottom: 15px;
}
.burger-list li a {
  color: #333B41;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.burger-list li a span {
  color: #FE9013;
}
.burger-list .header__logo {
  border: 1px solid #FE9013;
  height: 41.6px;
  width: 65.6px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 0;
}
.burger-list .header__logo-bamboo {
  position: absolute;
  bottom: 3px;
  left: 8px;
}

.watchAnimal__content {
  width: 1160px;
  margin: 0 auto;
  padding-top: 92px;
}
.watchAnimal__content-circle {
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  margin-bottom: 69px;
  position: relative;
  left: 587px;
}
.watchAnimal__content-text {
  font-size: 106px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: 74px;
  left: 82px;
}
.watchAnimal__content-text span {
  color: #FFEE2E;
}
.watchAnimal__content-button {
  margin-left: 764px;
  border-radius: 25px;
}
.watchAnimal__content-button div {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 1599px) {
  .watchAnimal__content {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .watchAnimal__content-circle {
    width: 32vw;
    height: 32vw;
    left: 37vw;
    top: -8vw;
    z-index: 10;
    margin: 0;
  }
  .watchAnimal__content-text {
    font-size: 6.6vw;
    line-height: 5vw;
    top: 14%;
    left: 16%;
  }
  .watchAnimal__content-button {
    margin-left: 47vw;
    margin-top: -3vw;
  }
}
@media screen and (max-width: 1000px) {
  .watchAnimal__content-circle {
    width: 36.7vw;
    height: 36.7vw;
    left: 32vw;
    top: -10vw;
    z-index: 10;
    margin: 0;
  }
  .watchAnimal__content-text {
    font-size: 85px;
    line-height: 6.5vw;
    top: 14%;
    left: 16%;
  }
  .watchAnimal__content-button {
    margin-left: 42.5vw;
    margin-top: -5.5vw;
  }
  .watchAnimal__content-button div {
    margin-right: 8px;
  }
}
@media screen and (max-width: 999px) {
  .watchAnimal__content-circle {
    left: 38vw;
    top: -7.5vw;
  }
  .watchAnimal__content-text {
    font-size: 8.3vw;
    top: 16%;
  }
  .watchAnimal__content-button {
    margin-left: -10.5vw;
    margin-top: -7.5vw;
  }
}
@media screen and (max-width: 480px) {
  .watchAnimal__content-circle {
    left: 37vw;
    top: -10.5vw;
  }
  .watchAnimal__content-button {
    margin-top: 9.5vw;
  }
  .watchAnimal__content .button {
    margin-left: calc((100% - 298px) / 2);
  }
}
.mainContent {
  width: 100%;
  height: 1699px;
  background: #FFFFFF;
  color: #333B41;
  position: relative;
}
.mainContent__backstage {
  width: 1160px;
  margin: 140px auto 180px;
  height: 403px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 87px;
  font-weight: 400;
  letter-spacing: 0em;
}
.mainContent__backstage-text, .mainContent__backstage-text div {
  width: 465px;
}
.mainContent__backstage-text h2 {
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  margin-bottom: 20px;
}
.mainContent__backstage-description {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 54px;
}
.mainContent__backstage-title {
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 34px;
}
.mainContent__backstage-content {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.mainContent__backstage-flower {
  position: absolute;
  top: -128px;
  right: 0;
  transition: 0.5s;
}
.mainContent__slider {
  display: grid;
  grid-template-columns: 1fr 1158px 1fr;
}
.mainContent__slider:first-child {
  margin: 396px 20px auto auto;
}
.mainContent__slider:last-child {
  margin: 396px 20px auto;
}
.mainContent #container {
  width: 1160px;
  overflow: hidden;
}
.mainContent__pets {
  width: 3500px;
  height: 902px;
  margin: 0 auto 78px;
  position: relative;
  display: flex;
  overflow: hidden;
  left: -1158px;
}
.mainContent__pets-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1158px;
  position: relative;
}
.mainContent__pets-card {
  width: 366px;
  position: relative;
  border: 1px solid #fa6f32;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 30;
}
.mainContent__pets-card-info {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px 14px 16px;
}
.mainContent__pets-card::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  top: 0px;
  height: 382px;
  background-color: #000000;
  z-index: 40;
  opacity: 0;
  transition: 0.5s;
}
.mainContent__pets-card-mask {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 366px;
  transition: all 0.7s ease-in-out;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 50;
}
.mainContent__pets-card-mask-name {
  text-transform: uppercase;
}
.mainContent__pets-card-photo {
  position: relative;
  border-radius: 5px;
  transition: 1s;
  height: 364px;
  overflow: hidden;
}
.mainContent__pets-card:hover {
  border: none;
}
.mainContent__pets-card:hover > .mainContent__pets-card-photo {
  transform: scale(1.1);
}
.mainContent__pets-card:hover::before {
  opacity: 0.5;
}
.mainContent__pets-card:hover > .mainContent__pets-card-info {
  display: none;
  border: none;
}
.mainContent__pets-card:hover > .mainContent__pets-card-mask {
  opacity: 1;
  top: 226px;
}
.mainContent__pets__info {
  padding: 5px 12px 14px 14px;
  height: 60px;
  width: 366px;
  margin: -3px auto 0;
  border-bottom-radius: 5px;
}
.mainContent__pets__info-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.mainContent__pets__info-description {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}
.mainContent__arrow div {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-align: center;
  cursor: pointer;
}
.mainContent__arrow div:active {
  background: #4B9200;
}
.mainContent__arrow div img {
  margin-top: 45%;
}
.mainContent-button {
  margin: -30px auto 0;
  border-radius: 25px;
}
.mainContent__firstFlower {
  position: absolute;
  height: 460px;
  bottom: 0;
  transition: 0.3s;
}
.mainContent .small-display {
  opacity: 0;
  transition: 0.5s;
}
.mainContent__secondFlower {
  height: 275px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.arrow {
  cursor: pointer;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow:hover {
  transform: scale(1.1);
  background: #E47209;
}

@keyframes move-right {
  from {
    left: -1158px;
  }
  to {
    left: 0px;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

@keyframes move-left {
  from {
    left: -1158px;
  }
  to {
    left: -2316px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}

@media screen and (max-width: 1599px) {
  .mainContent__backstage-flower {
    width: 9vw;
  }
  .mainContent__backstage-text h2 {
    font-size: 3vw;
  }
  .mainContent__firstFlower {
    width: 12%;
    height: 21%;
  }
  .mainContent__secondFlower {
    width: 24vw;
    height: 18vw;
  }
  .mainContent__backstage-text, .mainContent__backstage-text div {
    width: 29vw;
  }
}
@media screen and (max-width: 1390px) {
  .mainContent {
    height: 1643px;
  }
  .mainContent__backstage {
    width: 94vw;
    grid-column-gap: 31px;
    margin: 51px auto 152px;
  }
  .mainContent__backstage .image {
    margin-top: 9px;
    width: 45.5vw;
    height: 40.8vw;
    overflow: hidden;
  }
  .mainContent__backstage .image img {
    position: relative;
    left: -81px;
  }
  .mainContent__backstage-flower {
    display: none;
  }
  .mainContent__backstage-text div {
    width: 454px;
  }
  .mainContent__pets {
    width: 294vw;
    left: -98vw;
  }
}
@media screen and (max-width: 1390px) and (max-width: 1000px) {
  .mainContent__pets {
    left: -96vw;
  }
  @keyframes move-right {
    from {
      left: -96vw;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -96vw;
    }
    to {
      left: -196vw;
    }
  }
}
@media screen and (max-width: 1390px) {
  .mainContent__pets-images {
    width: 100%;
    height: 801px;
    justify-content: center;
    gap: 25px;
    align-content: space-between;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1390px) {
  .mainContent__pets-card {
    width: 294px;
    height: 354px;
    margin: 0;
  }
  .mainContent__pets-card::before {
    height: 354px;
  }
  .mainContent__pets-card-photo {
    height: 294px;
  }
}
@media screen and (max-width: 1390px) {
  .mainContent__slider {
    padding-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .mainContent__slider .arrow {
    position: absolute;
    padding-bottom: 20px;
    z-index: 2000;
  }
  .mainContent__slider:first-child {
    top: 33%;
    left: 35%;
  }
  .mainContent__slider:last-child {
    top: 33%;
    right: 33%;
  }
}
@media screen and (max-width: 1001px) {
  .mainContent__backstage .image {
    height: 403px;
  }
  .mainContent__backstage-text {
    width: 370px;
  }
  .mainContent__backstage-text h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    width: 454px;
  }
  .mainContent__firstFlower {
    opacity: 0;
  }
  .mainContent .small-display {
    opacity: 1;
    width: 21vw;
    height: 20vw;
    left: -12px;
  }
  .mainContent__secondFlower {
    width: 24vw;
    height: 18vw;
  }
}
@media screen and (max-width: 990px) {
  .mainContent {
    height: 1421px;
  }
}
@media screen and (max-width: 990px) and (max-width: 606px) {
  .mainContent {
    height: 1957px;
  }
}
@media screen and (max-width: 990px) {
  .mainContent__firstFlower {
    opacity: 1;
    width: 21vw;
    height: 32vw;
    left: 4px;
  }
}
@media screen and (max-width: 990px) {
  .mainContent .small-display {
    opacity: 0;
  }
}
@media screen and (max-width: 990px) {
  .mainContent__secondFlower {
    width: 27vw;
    height: 20vw;
  }
}
@media screen and (max-width: 990px) {
  .mainContent__backstage {
    margin-bottom: 31px;
  }
  .mainContent__backstage .image {
    display: none;
  }
  .mainContent__backstage-flower {
    display: block;
    width: 26vw;
    top: -4%;
    overflow: hidden;
    margin-right: -6vw;
  }
  .mainContent__backstage-flower img {
    height: 468px;
  }
  .mainContent__backstage-description {
    margin-bottom: 32px;
  }
  .mainContent__backstage-title {
    margin-left: 4px;
    margin-bottom: 20px;
  }
  .mainContent__backstage-text h2 {
    width: 454px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
  }
  .mainContent__backstage-text div {
    width: 76vw;
  }
}
@media screen and (max-width: 990px) {
  .mainContent__pets-images {
    width: 94vw;
    height: 756px;
    justify-content: center;
    gap: 25px;
  }
  .mainContent__pets-card:nth-child(5), .mainContent__pets-card:nth-child(6) {
    display: none;
  }
  .mainContent__pets-card {
    width: 285px;
    height: 332px;
  }
  .mainContent__pets-card-photo {
    width: 285px;
    height: 285px;
  }
  .mainContent__pets-card-info {
    padding: 3px 12px 14px 13px;
  }
  .mainContent__pets-card-info img {
    width: 25px;
    height: 28px;
  }
  .mainContent__pets__info-name {
    font-size: 12px;
  }
  .mainContent__pets__info-description {
    font-size: 12px;
    margin-top: -7px;
  }
}
@media screen and (max-width: 990px) {
  .mainContent__slider:first-child {
    top: 28%;
    left: 38%;
  }
  .mainContent__slider:last-child {
    top: 28%;
    right: 35%;
  }
}
@media screen and (max-width: 990px) {
  .mainContent-button {
    margin: -168px auto 0;
  }
}
@media screen and (max-width: 639px) {
  .mainContent {
    margin-top: 30vw;
  }
  .mainContent__firstFlower {
    opacity: 0;
    width: 21vw;
    height: 32vw;
    left: 4px;
  }
  .mainContent .small-display {
    opacity: 1;
    height: 22vw;
  }
  .mainContent__secondFlower {
    width: 27vw;
    height: 20vw;
    right: -6vw;
  }
  .mainContent__slider {
    height: 1388px;
    position: relative;
    left: 10px;
    top: -10px;
  }
  .mainContent__slider #container {
    width: 94vw;
    display: flex;
    justify-content: center;
  }
  .mainContent__slider:first-child {
    height: 64px;
    top: -3%;
  }
}
@media screen and (max-width: 639px) and (max-width: 606px) {
  .mainContent__slider:first-child {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__slider:last-child {
    height: 64px;
    top: -3%;
    left: 50%;
  }
}
@media screen and (max-width: 639px) and (max-width: 606px) {
  .mainContent__slider:last-child {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage {
    margin: 3px auto 27px;
  }
  .mainContent__backstage-flower {
    height: 234px;
    width: 15.5vw;
    top: -18vw;
    right: 0;
  }
}
@media screen and (max-width: 639px) and (max-width: 325px) {
  .mainContent__backstage-flower {
    right: 13px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-flower div {
    height: 225px;
    width: 44px;
    top: 0px;
    position: relative;
    overflow: hidden;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-flower img {
    height: 217px;
    width: 105px;
    left: 289px;
    top: 259px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-description {
    width: 92vw;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-text h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 9px;
  }
  .mainContent__backstage-text div {
    width: 92vw;
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__backstage-content {
    margin-top: -10px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent__pets {
    height: 100%;
    width: auto;
    margin: 0 auto;
    left: auto;
  }
  .mainContent__pets-images {
    margin: 0;
    justify-content: center;
    gap: 0;
  }
  .mainContent__pets-images:first-child {
    display: none;
  }
  .mainContent__pets-images:last-child {
    display: none;
  }
  .mainContent__pets-card {
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 639px) {
  .mainContent-button {
    position: absolute;
    bottom: 60px;
    left: calc((100% - 298px) / 2);
  }
}
@media screen and (max-width: 639px) {
  .mainContent__pets-images {
    position: relative;
    left: -2%;
  }
}
.pickAndFeed {
  width: 100%;
  margin: 0 auto;
  height: 1004px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding-top: 69px;
  transition: 0.5s;
}
.pickAndFeed__wrapper {
  height: 835px;
  width: 1160px;
  background-color: rgba(253, 253, 255, 0.5215686275);
  margin: 0 auto 100px;
  border-radius: 20px;
  padding-top: 30px;
}
.pickAndFeed__wrapper-text {
  color: #333B41;
}
.pickAndFeed__wrapper-text a:hover {
  border-bottom: 1px solid #F9804B;
}
.pickAndFeed__wrapper-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #FE9013;
  margin-bottom: 30px;
  text-align: center;
}
.pickAndFeed__wrapper-text div:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  margin-left: 97px;
  margin-bottom: 40px;
}
.pickAndFeed__wrapper-text div:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 97px;
  margin-bottom: 10px;
}
.pickAndFeed__wrapper-text div:nth-child(4) {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 97px;
  height: 42px;
  width: 863px;
}
.pickAndFeed__wrapper-text div:nth-child(4) a {
  color: #333B41;
  line-height: 20.8px;
  text-decoration: underline;
  text-decoration-color: #FE9013;
  text-underline-offset: 4px;
}
.pickAndFeed__wrapper-text h3 {
  margin: 60px auto 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  width: 209px;
}
.pickAndFeed__wrapper-images {
  width: 764px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 168px 130px 168px 130px 168px;
}
.pickAndFeed__wrapper-images-row {
  margin: 54px auto;
}
.pickAndFeed__wrapper-images .small-row {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  width: 63px;
}
.pickAndFeed__wrapper-images .small-row-second {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  width: 63px;
}
.pickAndFeed__wrapper-images .mobile {
  display: none;
}
.pickAndFeed__wrapper-button {
  display: block;
  margin: 60px auto;
  border: none;
  border-radius: 25px;
}

@media screen and (max-width: 1599px) {
  .pickAndFeed {
    height: 876px;
    padding-top: 30px;
  }
  .pickAndFeed__wrapper {
    width: 94vw;
    height: 800px;
  }
  .pickAndFeed__wrapper-text h2 {
    margin-bottom: 20px;
  }
  .pickAndFeed__wrapper-text div:nth-child(2) {
    margin-left: 5%;
    margin-bottom: 20px;
  }
  .pickAndFeed__wrapper-text div:nth-child(3) {
    width: 80vw;
    margin-left: 5%;
  }
  .pickAndFeed__wrapper-text div:nth-child(4) {
    width: 80vw;
    margin-left: 5%;
  }
  .pickAndFeed__wrapper-text h3 {
    margin-top: 40px;
  }
  .pickAndFeed__wrapper-button {
    margin: 67px auto;
    letter-spacing: 0.5px;
  }
  .pickAndFeed__wrapper .button {
    padding: 16px 0px 16px 7px;
    font-size: 14px;
  }
  .pickAndFeed__wrapper-images-row {
    margin: 58px auto;
  }
}
@media screen and (max-width: 999px) {
  .pickAndFeed {
    padding-top: 19px;
    height: 781px;
  }
  .pickAndFeed__wrapper {
    max-width: 628px;
    height: 741px;
    margin: 0 auto;
    padding-top: 7px;
  }
  .pickAndFeed__wrapper-text {
    overflow: hidden;
  }
  .pickAndFeed__wrapper-text div:nth-child(2) {
    margin-left: 0;
    margin-bottom: 16px;
    font-size: 22px;
  }
  .pickAndFeed__wrapper-text div:nth-child(3) {
    width: 600px;
    margin-left: 0;
  }
  .pickAndFeed__wrapper-text div:nth-child(4) {
    width: 600px;
    margin-left: 0;
  }
  .pickAndFeed__wrapper-text h2 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .pickAndFeed__wrapper-text h3 {
    margin-top: 29px;
  }
  .pickAndFeed__wrapper-images {
    position: relative;
    margin: -20px 0 0 0;
    width: 588px;
    display: flex;
    justify-content: space-between;
  }
  .pickAndFeed__wrapper-images-row {
    display: none;
  }
  .pickAndFeed__wrapper-images div {
    position: relative;
  }
  .pickAndFeed__wrapper-images .small-row {
    position: absolute;
    top: 5px;
    left: 117px;
    z-index: 1000;
    opacity: 1;
  }
  .pickAndFeed__wrapper-images .small-row-second {
    position: absolute;
    top: 4px;
    left: 324px;
    opacity: 1;
  }
  .pickAndFeed__wrapper-button {
    margin: 35px auto;
  }
}
@media screen and (max-width: 639px) {
  .pickAndFeed {
    width: 321px;
    height: 1082px;
  }
  .pickAndFeed__wrapper {
    width: 300px;
    height: 1042px;
  }
  .pickAndFeed__wrapper-text div:nth-child(2) {
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
    width: 297px;
    letter-spacing: 1px;
    letter-spacing: 0.2px;
    margin-left: 0;
  }
  .pickAndFeed__wrapper-text div:nth-child(3) {
    display: none;
  }
  .pickAndFeed__wrapper-text div:nth-child(4) {
    display: none;
  }
  .pickAndFeed__wrapper-text h2 {
    font-size: 24px;
    margin-bottom: -4px;
  }
  .pickAndFeed__wrapper-text h3 {
    font-size: 24px;
    margin-top: -5px;
    text-align: center;
  }
  .pickAndFeed__wrapper-images {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin: -29px 0 0 -1px;
  }
  .pickAndFeed__wrapper-images .table {
    display: none;
  }
  .pickAndFeed__wrapper-images .mobile {
    display: block;
  }
  .pickAndFeed__wrapper-images .mobile:last-child {
    width: 168px;
  }
  .pickAndFeed__wrapper-images .small-row {
    width: 63px;
    top: 221px;
    left: 219px;
    transform: rotate(90deg);
  }
  .pickAndFeed__wrapper-images .small-row-second {
    width: 63px;
    top: 471px;
    left: 219px;
    transform: rotate(90deg);
  }
  .pickAndFeed__wrapper-button {
    margin: 29px auto;
  }
}
.section-testimonials {
  width: 99%;
  position: relative;
}
.section-testimonials .modal-window {
  position: fixed;
  top: 16%;
  left: calc((100vw - 263px) / 2);
  z-index: 5500;
  opacity: 0;
  transition: 0.5s;
}
.section-testimonials .modal-window-close {
  text-align: right;
}
.section-testimonials .modal-window .wrapper__post-board {
  width: 267px;
}
.section-testimonials .modal-window .wrapper__post-content {
  height: auto;
}
.section-testimonials .modal-window .wrapper__post-text {
  width: auto;
  height: auto;
}

.testimonials {
  height: 911px;
  width: 1600px;
  padding-top: 128px;
  margin: 0 auto;
}
.testimonials__wrapper {
  width: 1160px;
  margin: 0 auto;
}
.testimonials__wrapper h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-bottom: 47px;
}
.testimonials__wrapper .cards-container {
  width: 1160px;
  overflow: hidden;
}
.testimonials__wrapper__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  transition: 0.7s;
}
.testimonials__wrapper__cards .wrapper__post {
  width: 600px;
}
.testimonials__wrapper__cards .mobile {
  display: none;
  transition: 0.5s;
}
.testimonials__wrapper__cards .table {
  transition: 0.5s;
}
.testimonials__wrapper-progress {
  text-align: center;
}
.testimonials__wrapper-progress-input-min {
  display: none;
}
.testimonials__wrapper-button {
  margin-top: 10px;
  border: none;
  border-radius: 0px;
}
.testimonials-leaveImage {
  position: absolute;
  bottom: -130px;
  right: -1%;
  z-index: 40;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 22px 0;
  width: 599px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #e0e4e8;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 20%;
  border-radius: 3px;
  background: orange;
  cursor: pointer;
  -webkit-appearance: none;
}

.wrapper__post {
  margin: 0 auto;
}
.wrapper__post-board {
  width: 600px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(0deg, #F5F7F6, #F5F7F6);
  padding: 2px;
  border-radius: 20px;
}
.wrapper__post-content {
  background-color: #F5F7F6;
  border-radius: 20px;
  height: 105px;
}
.wrapper__post-info {
  display: grid;
  grid-template-areas: "area1 area2 area2" "area1 area3 area4";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 37px 86px 41px;
  grid-template-rows: repeat(2, 19px);
}
.wrapper__post-info .avatar {
  grid-area: area1;
  padding: 13px 0 0 10px;
}
.wrapper__post-info .avatar img {
  width: 37px;
  height: 37px;
}
.wrapper__post-info .name {
  grid-area: area2;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 13px;
}
.wrapper__post-info .country {
  grid-area: area3;
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  position: relative;
  bottom: -5px;
}
.wrapper__post-info .country::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #BDBDBD;
  transform: translateY(-50%);
}
.wrapper__post-info .date {
  grid-area: area4;
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  position: relative;
  bottom: -5px;
  left: -6px;
}
.wrapper__post-text {
  width: 553px;
  height: 38px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 13px;
  margin-left: 16px;
}

@media screen and (max-width: 1599px) {
  .testimonials {
    max-width: 99%;
    padding-top: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials {
    height: 840px;
  }
  .testimonials__wrapper {
    width: 940px;
  }
  .testimonials__wrapper h2 {
    margin-bottom: 30px;
  }
  .testimonials__wrapper .cards-container {
    width: 940px;
  }
}
@media screen and (max-width: 1250px) and (max-width: 780px) {
  .testimonials__wrapper .cards-container {
    width: 94vw;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials__wrapper__cards img {
    width: 293px;
    height: 391px;
    flex-shrink: 0;
  }
  .testimonials__wrapper__cards .last {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials__wrapper-progress input[type=range] {
    width: 390px;
    height: 8px;
  }
  .testimonials__wrapper-progress-input-max {
    display: none;
  }
  .testimonials__wrapper-progress-input-min {
    display: inline-block;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials__wrapper-button {
    margin: 27px 0 0 1px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials__wrapper .button {
    padding: 2px 0 0 7px;
  }
}
@media screen and (max-width: 1250px) {
  .testimonials-leaveImage {
    height: 311px;
    width: 193px;
    right: 0;
    top: 609px;
  }
}
@media screen and (max-width: 999px) {
  .testimonials {
    height: 668px;
    padding-left: 20px;
  }
  .testimonials__wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__wrapper h2 {
    margin-top: -41px;
  }
  .testimonials__wrapper__cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    z-index: 3000;
  }
  .testimonials__wrapper__cards .table {
    display: none;
    z-index: 2;
  }
  .testimonials__wrapper .mobile {
    display: block;
  }
  .testimonials__wrapper-progress {
    display: none;
  }
  .testimonials__wrapper .button {
    width: 240px;
    margin: 0 auto;
    position: relative;
    top: 42px;
    letter-spacing: -1.2px;
    padding: 2px 0 0 0;
  }
  .testimonials-leaveImage {
    height: 206px;
    width: 121px;
    right: -6px;
    top: 533px;
  }
}
@media screen and (max-width: 639px) {
  .testimonials {
    height: 580px;
    padding: 0 10px 0 41px;
  }
  .testimonials__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonials__wrapper h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin: 30px auto 20px;
  }
  .testimonials__wrapper__cards .wrapper__post-board {
    width: 93vw;
  }
  .testimonials__wrapper__cards .wrapper__post-info .name {
    position: relative;
    top: -3px;
    left: -7px;
  }
  .testimonials__wrapper__cards .wrapper__post-text {
    width: 78vw;
    height: 38px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 13px;
    margin-left: 16px;
  }
  .testimonials__wrapper .button {
    position: static;
    margin: 30px 0 0;
  }
  .testimonials-leaveImage {
    height: 101px;
    width: 64px;
    right: -3px;
    top: 513px;
  }
}
input {
  all: unset;
}

.footer {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 362px 1fr;
  height: 100%;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__links-button {
  margin-top: 19px;
  letter-spacing: -1px;
}
.footer__links-logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 19.01px;
  line-height: 22.82px;
  text-align: center;
  position: relative;
}
.footer__links-logo-bamboo {
  position: absolute;
  bottom: 10.5px;
  left: 8.5px;
}
.footer__links-links {
  margin-bottom: 10px;
}
.footer__links-links li {
  margin-bottom: 8px;
}
.footer__links-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__links-links a:hover {
  color: #4B9200;
}
.footer__navigation {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 22.4px;
  display: flex;
  align-items: end;
  gap: 438px;
  position: relative;
  bottom: 16px;
}
.footer__navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 472px;
}
.footer__navigation-item a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__navigation-item a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #F9804B;
}
.footer__subscription {
  padding-left: 31px;
}
.footer__subscription > div {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer__subscription-form input {
  height: 42px;
  width: 228px;
  background: none;
  border: 0.7px solid #F9804B;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 7px 10px 10px;
  box-sizing: border-box;
  color: white;
}
.footer__subscription-form input:focus {
  color: red;
  border: 1px solid #D31414;
}
.footer__subscription-form input:valid {
  color: #4B9200;
  border: 1px solid #4B9200;
}
.footer__subscription-form-button {
  height: 42px;
  width: 129px;
  margin-left: 8px;
}
.footer__subscription-form-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
}
.footer__subscription-form:valid .footer__subscription-form-button {
  color: #4B9200;
  border: 1px solid #4B9200;
}
.footer__subscription-form:invalid .footer__subscription-form-button {
  color: red;
  border: 1px solid #D31414;
  font-size: 16px;
}
.footer__subscription-information {
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.footer__subscription-information div {
  font-size: 16px;
  font-weight: 10;
  letter-spacing: 1.5px;
}
.footer__subscription-information div:hover {
  border-bottom: 1px solid #F9804B;
}
.footer__subscription-information div:active {
  color: #4B9200;
  border-bottom: 1px solid #4B9200;
}

.circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5019607843);
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-right: 12px;
}
.circle:hover {
  background-color: #4B9200;
}

.about a {
  color: #F9804B;
}

@media screen and (max-width: 1220px) {
  .footer {
    width: 94%;
    position: relative;
  }
  .footer__subscription > div {
    position: absolute;
    top: 42px;
    right: -2.9vw;
  }
  .footer__subscription > div:first-child {
    position: relative;
    top: 0;
    right: 150px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1220px) and (max-width: 639px) {
  .footer__subscription > div:first-child {
    right: -53vw;
  }
}
@media screen and (max-width: 1220px) {
  .footer__subscription-form {
    position: absolute;
    top: 41px;
    right: 3.1vw;
  }
}
@media screen and (max-width: 1220px) {
  .footer__subscription-information {
    height: 312px;
  }
}
@media screen and (max-width: 1220px) {
  .footer__links-links {
    margin: 0;
  }
  .footer__links-button {
    margin-top: 23px;
  }
}
@media screen and (max-width: 1220px) {
  .footer__navigation {
    bottom: 0;
  }
  .footer__navigation div {
    letter-spacing: 0;
  }
  .footer__navigation-list {
    width: 332px;
  }
}
@media screen and (max-width: 935px) {
  .footer {
    position: relative;
    width: 94%;
    display: flex;
    height: 282px;
  }
  .footer__subscription-form {
    display: none;
  }
  .footer__subscription-information {
    height: 36vw;
  }
  .footer__subscription-information div {
    right: -5.5vw;
    letter-spacing: -0.1px;
    position: relative;
    right: 31px;
  }
  .footer__links-links {
    position: absolute;
    top: 10px;
    right: -11px;
    display: flex;
  }
  .footer__links-links li {
    margin-bottom: 19px;
  }
  .footer__links-logo {
    top: 12px;
  }
  .footer .button {
    position: absolute;
    top: 72px;
    border-radius: 10px;
  }
  .footer__navigation {
    bottom: 12px;
    right: 80px;
    width: 46.5vw;
  }
  .footer .network {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .footer {
    height: 100%;
    display: block;
  }
  .footer__links-logo {
    border: none;
    width: 40vw;
    height: 23px;
    position: relative;
    margin: 0 auto;
  }
  .footer__links-logo-bamboo {
    bottom: 6.5px;
    left: 71.5px;
  }
  .footer__subscription > div {
    top: 16%;
    right: -6.9vw;
  }
}
@media screen and (max-width: 639px) and (max-width: 515px) {
  .footer__subscription > div {
    top: 27%;
  }
}
@media screen and (max-width: 639px) and (max-width: 515px) {
  .footer__subscription > div {
    top: 33%;
  }
}
@media screen and (max-width: 639px) and (max-width: 342px) {
  .footer__subscription > div {
    top: 44%;
  }
}
@media screen and (max-width: 639px) {
  .footer__links-links {
    position: static;
    margin: 53px auto 0;
  }
  .footer__links-links ul {
    width: 60vw;
    display: flex;
    gap: 18px;
  }
  .footer__links-logo {
    top: 21px;
  }
}
@media screen and (max-width: 639px) {
  .footer .button {
    margin-top: 58px;
  }
}
@media screen and (max-width: 639px) {
  .footer__navigation {
    width: 98%;
    right: -8px;
    top: 43%;
  }
}
@media screen and (max-width: 639px) and (max-width: 515px) {
  .footer__navigation {
    top: 50%;
    right: -6px;
  }
}
.donateLink a {
  color: #F9804B;
}

.donateDesktop {
  width: 100%;
  height: 1482px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding-top: 38px;
}

.donateDesktop__content {
  width: 1160px;
  margin: 0 auto 180px;
}
.donateDesktop__content .heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  margin-bottom: 10px;
}
.donateDesktop__content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #ffffff;
  letter-spacing: 0.03px;
  margin-bottom: 40px;
}
.donateDesktop__content-info {
  color: rgb(254, 144, 19);
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  margin-bottom: 60px;
}
.donateDesktop__content__wrapperFeed {
  height: 964px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.52);
  padding: 40px 92px 62px;
}
.donateDesktop__content__wrapperFeed .heading {
  color: #FE9013;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-left: 250px;
  margin-bottom: 20px;
}
.donateDesktop__content__wrapperFeed .heading-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 60px;
}
.donateDesktop__content__wrapperFeed-images {
  text-align: right;
  margin-right: 229px;
  position: relative;
  margin-bottom: 48px;
}
.donateDesktop__content__wrapperFeed-images :first-child {
  position: absolute;
  top: 105px;
  left: 253px;
}
.donateDesktop__content__wrapperFeed-images :nth-child(2) {
  position: absolute;
  top: 130px;
  left: 385px;
}
.donateDesktop__content__wrapperFeed-images :last-child {
  position: absolute;
  top: 174px;
  left: 215px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
}
.donateDesktop__content__wrapperFeed-amount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.donateDesktop__content-final-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
  position: relative;
  left: 340px;
  top: -10px;
}

.flex {
  display: flex;
  align-items: center;
}

.chooseSize {
  margin-top: 17px;
}

.chooseSize ul {
  background: #404950;
  width: 976px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 92px;
}
.chooseSize ul input[type=radio] {
  display: block;
  width: 6px;
  height: 6px;
  padding: 6px;
  background-clip: content-box;
  cursor: pointer;
  background-color: #FFEE2E;
  border-radius: 50%;
  position: relative;
  top: 3px;
  z-index: 3;
}
.chooseSize ul input[type=radio]:checked {
  border: 1px solid orange;
  position: relative;
  z-index: 3;
}
.chooseSize ul input[type=radio]:checked + label {
  color: #FE9013;
}
.chooseSize ul input[type=radio]:checked:before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  border: solid 1px orange;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  z-index: 10;
}
.chooseSize ul input[type=radio]:checked:hover {
  border: solid 2px orange;
}
.chooseSize ul input[type=radio]:checked:hover:before {
  border: solid 2px orange;
  top: -6px;
  left: -6px;
}

.chooseSize ul li:after {
  content: "";
  border-bottom: 1px solid #ccc;
  width: 54vw;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 2.5vw;
  transform: translate(0, -100%);
  z-index: 2;
}
@media screen and (max-width: 1599px) {
  .chooseSize ul li:after {
    width: 72vw;
    left: 3.5vw;
  }
}

.chooseSize ul li:last-child:after {
  display: none;
}

.chooseSize label {
  color: #333B41;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  position: relative;
  left: -24px;
  bottom: -23px;
}

.anotherAmount {
  border: 1px solid #929699;
  height: 32px;
  border-radius: 2px;
  padding: 10px;
  width: 246px;
  margin: 0 auto;
}

.anotherAmount input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.changeSum {
  position: relative;
  left: 418px;
  width: 270px;
}
.changeSum-button {
  margin: 0 336px 30px -75px;
  border-radius: 30px;
  position: relative;
  top: -10px;
}
.changeSum-label {
  position: absolute;
  color: #929699;
  font-size: 21px;
  top: 15px;
  right: 10px;
}
.changeSum input[type=radio] {
  background-color: inherit;
  border: 1px solid orange;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  display: inline-block;
}
.changeSum input[type=radio]:checked {
  background-color: #4B9200;
  border: 1px solid #4B9200;
  position: relative;
  z-index: 3;
}
.changeSum input[type=radio]:checked + label {
  color: #4B9200;
}
.changeSum div {
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: -49px;
  display: flex;
  justify-content: space-around;
}
.changeSum div div {
  width: 84px;
  justify-content: right;
  gap: 10px;
}
.changeSum button {
  margin-top: -30px;
}

@media screen and (max-width: 1599px) {
  .donateDesktop {
    height: 1335px;
  }
}
@media screen and (max-width: 1599px) and (max-width: 380px) {
  .donateDesktop {
    height: 1146px;
  }
}
@media screen and (max-width: 1599px) {
  .donateDesktop__content {
    width: 94vw;
    margin: 0 auto 30px;
  }
  .donateDesktop__content .heading {
    color: #FE9013;
    font-size: 48px;
    font-weight: 400;
    line-height: 47px;
    margin-bottom: 32px;
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .donateDesktop__content .heading-text {
    margin-bottom: 89px;
    margin-left: -43px;
    width: 112%;
  }
  .donateDesktop__content-info {
    margin-bottom: 40px;
  }
  .donateDesktop__content__wrapperFeed {
    height: 915px;
  }
  .donateDesktop__content__wrapperFeed-images {
    margin-bottom: -14px;
  }
  .donateDesktop__content__wrapperFeed-images :nth-child(2) {
    top: 71px;
    left: 52%;
  }
  .donateDesktop__content__wrapperFeed-images :nth-child(3) {
    position: relative;
    top: -58px;
    left: 11vw;
  }
  .donateDesktop__content__wrapperFeed-images :first-child {
    top: 43px;
    left: 27%;
  }
  .donateDesktop__content__wrapperFeed-images :last-child {
    top: 114px;
    left: 104px;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul {
    width: 81vw;
    left: -25px;
    margin-bottom: 92px;
  }
  .donateDesktop__content__wrapperFeed .changeSum {
    position: relative;
    left: 307px;
    width: 270px;
  }
  .donateDesktop__content__wrapperFeed .changeSum .anotherAmount {
    margin: -1px 0 0 -61px;
  }
  .donateDesktop__content__wrapperFeed .changeSum div {
    margin-left: -86px;
    width: 246px;
  }
  .donateDesktop__content__wrapperFeed .changeSum-label {
    top: 22px;
    right: 77px;
  }
  .donateDesktop__content-final-text {
    left: 229px;
  }
}
@media screen and (max-width: 885px) {
  .donateDesktop {
    padding-top: 30px;
  }
  .donateDesktop__content .heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #FE9013;
    margin-bottom: 18px;
  }
  .donateDesktop__content-text {
    margin-bottom: 0;
  }
  .donateDesktop__content-info {
    margin-bottom: 30px;
  }
  .donateDesktop__content__wrapperFeed .heading {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    width: 73vw;
    position: relative;
    bottom: 1.5%;
    right: 6.2%;
    text-align: center;
  }
  .donateDesktop__content__wrapperFeed .heading-text {
    width: 94vw;
    text-align: center;
    position: relative;
    right: 7.2%;
    bottom: 1%;
  }
  .donateDesktop__content__wrapperFeed-images {
    margin-bottom: 10px;
  }
  .donateDesktop__content__wrapperFeed-images :nth-child(3) {
    top: -18px;
    left: 28vw;
  }
  .donateDesktop__content__wrapperFeed-images :first-child {
    top: 87px;
    left: -14%;
  }
  .donateDesktop__content__wrapperFeed-images :last-child {
    top: 157px;
    left: -64px;
  }
  .donateDesktop__content__wrapperFeed-images :nth-child(2) {
    top: 112px;
    left: 56%;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul {
    margin-bottom: 100px;
    width: 93.75vw;
    left: -91px;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul li:nth-child(1), .donateDesktop__content__wrapperFeed .chooseSize ul li:nth-child(2), .donateDesktop__content__wrapperFeed .chooseSize ul li:nth-child(3) {
    display: none;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul li:after {
    width: 76vw;
    left: 6.75vw;
  }
}
@media screen and (max-width: 885px) and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed .chooseSize ul li:after {
    width: 75vw;
    left: 8.75vw;
  }
}
@media screen and (max-width: 885px) and (max-width: 470px) {
  .donateDesktop__content__wrapperFeed .chooseSize ul li:after {
    width: 76vw;
  }
}
@media screen and (max-width: 885px) {
  .donateDesktop__content__wrapperFeed .changeSum {
    left: calc((100vw - 281px) / 2);
  }
  .donateDesktop__content__wrapperFeed .changeSum .anotherAmount {
    width: 25vw;
    height: 27px;
    padding-top: 0;
  }
  .donateDesktop__content__wrapperFeed .changeSum div {
    margin-left: -17vw;
    width: 227px;
  }
  .donateDesktop__content__wrapperFeed .changeSum-label {
    top: 7px;
    left: 15vw;
  }
  .donateDesktop__content__wrapperFeed .changeSum-button {
    margin: -30px 336px 30px -18.75vw;
  }
}
@media screen and (max-width: 885px) and (max-width: 440px) {
  .donateDesktop__content__wrapperFeed .changeSum-button {
    margin-left: -33.75vw;
  }
}
@media screen and (max-width: 885px) {
  .donateDesktop__content-final-text {
    left: 8.75vw;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content-text {
    margin-bottom: 16vw;
  }
  .donateDesktop__content-info {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .donateDesktop__content__wrapperFeed .heading {
    font-size: 24px;
    line-height: 28.8px;
    width: 72.5vw;
    position: relative;
    bottom: 2.5%;
  }
}
@media screen and (max-width: 580px) and (max-width: 440px) {
  .donateDesktop__content__wrapperFeed .heading {
    width: 56.5vw;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed .heading-text {
    font-size: 16px;
    line-height: 22.4px;
    bottom: 3.5%;
    width: 83vw;
  }
}
@media screen and (max-width: 580px) and (max-width: 350px) {
  .donateDesktop__content__wrapperFeed .heading-text {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-images {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 580px) and (max-width: 380px) {
  .donateDesktop__content__wrapperFeed-images {
    height: 71px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-images :nth-child(3) {
    height: 43.3vw;
    width: 50vw;
    left: 15vw;
    top: -77px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-images :first-child {
    height: 32.7px;
    width: 46.2px;
    left: -71px;
    top: -18px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-images :nth-child(2) {
    height: 2.5vw;
    width: 2.5vw;
    top: -6px;
    left: 4px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-images :last-child {
    top: 16px;
    left: -92px;
    width: 89.66px;
  }
}
@media screen and (max-width: 580px) and (max-width: 380px) {
  .donateDesktop__content__wrapperFeed-images :last-child {
    font-size: 9px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed .chooseSize {
    margin: 0;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul {
    height: 16px;
    margin-bottom: 49px;
  }
  .donateDesktop__content__wrapperFeed .chooseSize ul input[type=radio] {
    top: -1px;
  }
  .donateDesktop__content__wrapperFeed .chooseSize label {
    font-size: 13px;
    left: -9px;
    bottom: 5px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed-amount div:first-child {
    position: relative;
    left: -91px;
    bottom: 6px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content__wrapperFeed .changeSum .anotherAmount {
    width: 158px;
    height: 24px;
    position: relative;
    left: 3.4vw;
    padding-top: 6px;
  }
  .donateDesktop__content__wrapperFeed .changeSum-label {
    left: 40%;
  }
  .donateDesktop__content__wrapperFeed .changeSum div {
    width: 227px;
    margin-left: -1vw;
    justify-content: start;
  }
  .donateDesktop__content__wrapperFeed .changeSum-button {
    top: -19px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  .donateDesktop__content-final-text {
    left: -92px;
    width: 94vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul, * li, * a {
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
}

html {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  background-color: #000000;
  padding-top: 14px;
  position: absolute;
}
header .burger-list {
  display: none;
  transition: 0.5s;
  height: 10px;
}
header .burger-open {
  display: block;
  height: 390px;
}

body {
  font-family: "Roboto", sans-serif;
}

.watchAnimal {
  background-image: url("../../assets/Giant Panda.jpg");
  background-size: cover;
  max-width: 100%;
  height: 780px;
}

.button {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  height: 54px;
  width: 298px;
  padding: 16px 1px 16px 5px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.button:hover {
  background: #E47209;
}
.button:active {
  background: #4B9200;
}

footer {
  width: 100%;
  overflow: hidden;
  height: 443px;
  background-color: #000000;
  padding-top: 41px;
  padding-bottom: 50px;
  z-index: 50;
}
@media screen and (max-width: 935px) {
  footer {
    height: 44vw;
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  footer {
    height: 334px;
    padding: 0;
  }
}

.donate {
  background-image: url("../../assets/Giant Panda.jpg");
  background-size: cover;
  background-position: 0 -114px;
  width: 100%;
  height: 390px;
}
@media screen and (max-width: 885px) {
  .donate {
    height: 373px;
    background-position: -344px 3.1vw;
  }
}

.modal-overlay {
  position: fixed;
  border: none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 5000;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}

.opened {
  opacity: 0.4;
}

@media screen and (max-width: 1599px) {
  header {
    position: relative;
    z-index: 20;
  }
  .watchAnimal {
    height: 50vw;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 34px;
    padding: 0;
    position: fixed;
    z-index: 500;
  }
  .watchAnimal {
    height: 55.4vw;
    background-image: url("../../assets/Giant Panda2.png");
    background-size: cover;
    background-position: 0 -2.6vw;
  }
  .donate {
    background-image: url("../../assets/panda_bg-donate.png");
    background-size: cover;
    background-position: -165px 0.1vw;
  }
}
@media screen and (max-width: 780px) {
  .watchAnimal {
    height: 59.2vw;
    background-image: url("../../assets/Giant Panda3.png");
    background-size: cover;
    background-position: 0 -0.4vw;
  }
}
@media screen and (max-width: 885px) {
  .donate {
    height: 373px;
    background-position: -344px 3.1vw;
  }
}
@media screen and (max-width: 885px) and (max-width: 580px) {
  .donate {
    height: 221px;
    background-position: -209px 3.1vw;
  }
}
@media screen and (max-width: 480px) {
  .watchAnimal {
    height: 69.3vw;
    background-image: url("../../assets/Giant Panda-4.png");
    background-size: cover;
    background-position: -5vw 7.6vw;
  }
}

/*# sourceMappingURL=style.css.map */
