

.donateLink a{
  color:#F9804B;
}
.donateDesktop{
  width:100%;
  height:1482px;
  background:   linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
padding-top: 38px;
}
.donateDesktop__content{
  width:1160px;
  margin:  0 auto 180px;
  .heading{
    color:#ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
margin-bottom:10px;

  }
  &-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color:#ffffff;
    letter-spacing: .03px;
    margin-bottom:40px;
  }
  &-info{
    color:rgba(254, 144, 19, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    margin-bottom:60px;
  }
  &__wrapperFeed{
    height: 964px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.52);
    padding:40px 92px 62px;
    .heading{
      color: #FE9013;
         font-size: 48px;
      font-weight: 400;
      line-height: 58px;
      margin-left: 250px;
      margin-bottom:20px;
    }
   .heading-text{
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      margin-bottom:60px;
    }
    &-images{
      text-align: right;
      margin-right: 229px;
      position: relative;
      margin-bottom:48px;
      :first-child{
        position:absolute;
        top:105px;
        left:253px;
      }
      :nth-child(2){
        position:absolute;
        top:130px;
        left:385px;
      }
      :last-child{
        position:absolute;
        top:174px;
        left:215px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;

       color: #333B41;

      }
    }

  &-amount {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

  }
  }

&-final-text{

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
  position: relative;
  left: 340px;
top:-10px;
}
}

.flex {
  display: flex;
  align-items: center;
}

.chooseSize {

  margin-top: 17px;

}
.chooseSize ul{
  input[type="radio"] {

    display: block;
    width: 6px;
    height: 6px;
    padding: 6px;
    background-clip: content-box;
    cursor: pointer;
    background-color: #FFEE2E;
    border-radius: 50%;
    position: relative;
    top:3px;
    z-index: 3;




  }

  input[type="radio"]:checked {
    border: 1px solid orange;
    position: relative;
    z-index: 3;
    +label {
      color: #FE9013;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      border: solid 1px orange;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      z-index: 10;
    }

    &:hover{
      border: solid 2px orange;
      &:before {
        border: solid 2px orange;
        top: -6px;
        left: -6px;
      }
    }
  }
  background: #404950;
width:976px;
  height:27px;
  position: relative;
  display:flex;
  justify-content: space-around;
margin-bottom: 92px;
}
.chooseSize ul li {
  &:after {
    content: '';
    border-bottom: 1px solid #ccc;
    width: 88%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 56px;
    transform: translate(0, -100%);
    z-index: 2;
  }
}
.chooseSize ul li:last-child:after{
  display: none;
}
.chooseSize label{
  color:#333B41;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  position: relative;
  left: -24px;
  bottom: -23px;
}
.anotherAmount{
  border: 1px solid #929699;
  height: 32px;
  border-radius: 2px;

padding: 10px;
width: 246px;
  margin: 0 auto;

}
.anotherAmount input {
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}
.changeSum{
  position:relative;
  left:418px;
  width:270px;
&-button{
  margin:0 336px 30px -75px;
  border-radius: 30px;
  position:relative;
  top:-10px;
}
  &-label{
    position: absolute;
    color: #929699;
    font-size: 21px;
    top: 15px;
    right: 10px;

  }
  input[type="radio"]{
background-color: inherit;
    border:1px solid orange;
    width:16px;
    height:16px;
    border-radius: 50%;
    padding: 0;
    display: inline-block;
  }
  input[type="radio"]:checked {
    background-color: #4B9200;
    border: 1px solid #4B9200;
    position: relative;
    z-index: 3;
    +label {
      color: #4B9200;
    }

  }
div{
  margin-bottom: 30px;
  margin-top: 15px;
  margin-left: -49px;
  display: flex;
  justify-content: space-around;

  div{
    width:84px;
    justify-content: right;
    gap:10px;
  }

}
 button{
    margin-top: -30px;
  }
}

@media screen and (max-width: 1599px) {
  .donateDesktop {
    height: 1335px;
    @media screen and (max-width: 380px){
      height:1146px ;
    }
    &__content {
      width: 94vw;
      margin: 0 auto 30px;

      .heading {
        color:#FE9013;
        font-size: 48px;
        font-weight: 400;
        line-height: 47px;
        margin-bottom: 32px;

        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;


      &-text {
        margin-bottom: 89px;
        margin-left: -43px;
        width: 112%;

      }
      }

      &-info {
        margin-bottom: 40px;
      }

      &__wrapperFeed {
        height: 915px;
        &-images {
          margin-bottom: -14px;
           :nth-child(2){
             top: 71px;
             left: 52%;
           }
           :nth-child(3) {
position: relative;
             top: -58px;
             left: 11vw;
          }
          :first-child{
            top: 43px;
            left: 27%;
          }
  :last-child {
    top: 114px;
    left: 104px;
          }
        }
        .chooseSize ul {

          width: 81vw;

left:-25px;
          margin-bottom: 92px;
        }
        .changeSum {
          position: relative;
          left: 307px;
          width: 270px;

          .anotherAmount {
            margin: -1px 0 0 -61px;
          }
      div {
            margin-left: -86px;
            width: 246px;
          }
          &-label {
            top: 22px;
            right: 77px;
          }
        }
      }
      &-final-text {
        left: 229px;
      }
    }
  }
}

@media screen and (max-width: 885px){
  .donateDesktop{
    padding-top: 30px;

      &__content {


        .heading {
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          color: #FE9013;

                 margin-bottom: 18px;

        }
        &-text{
          margin-bottom: 0;
        }
        &-info{
          margin-bottom: 30px;
        }
        &__wrapperFeed{
          .heading{
            font-size: 48px;
            font-weight: 400;
            line-height: 58px;
            width: 73vw;
            position: relative;
            bottom:1.5%;
            right:6.2%;
            text-align: center;
          }
          .heading-text{
            width:94vw;
            text-align: center;
            position: relative;
            right: 7.2%;
            bottom: 1%;
          }
          &-images {
            :nth-child(3) {
              top: -18px;
              left: 28vw;
            }
            :first-child {
              top: 87px;
              left: -14%;
            }
            :last-child {
              top: 157px;
              left: -64px;
            }
            :nth-child(2) {
              top: 112px;
              left: 56%;
            }

              margin-bottom: 10px;

          }
          .chooseSize ul {
            margin-bottom: 100px;
            width: 93.75vw;
            left: -91px;
            li:nth-child(1),li:nth-child(2),li:nth-child(3){
              display: none;
            }
            li:after {
              width: 76vw;
              left: 6.75vw;

              @media screen and (max-width:580px){
                width: 75vw;
                left: 8.75vw;
              }
              @media screen and (max-width:470px){
                width: 76vw;

              }


            }
          }
          .changeSum {
            .anotherAmount {
              width:25vw;
              height: 27px;
              padding-top:0;
            }
            left: calc((100vw - 281px)/2);
            div {
              margin-left: -17vw;
              width: 227px;
            }
&-label{
  top: 7px;
  left: 15vw;
}
            &-button{
              margin: -30px 336px 30px -18.75vw;
              @media screen and (max-width: 440px){
                margin-left:-33.75vw;
              }
            }
          }
        }
       &-final-text {
         left: 8.75vw;
       }
        }
      }
  }
@media screen and (max-width: 580px) {
  .donateDesktop {

    &__content {
      &-text{
        margin-bottom: 16vw;
      }
      &-info{
        font-size:24px;
        margin-bottom: 20px;
      }
      &__wrapperFeed {
        .heading {
          font-size: 24px;
          line-height: 28.8px;
          width: 72.5vw;
          position: relative;
          bottom: 2.5%;
          @media screen and (max-width: 440px){

            width: 56.5vw;

          }

          &-text{
            font-size: 16px;
            line-height: 22.4px;
            bottom: 3.5%;
            width: 83vw;
            @media screen and (max-width: 350px){

              margin-bottom: 40px;

            }
          }
        }
        &-images {
           margin-bottom: 0;

          @media screen and (max-width: 380px){
            height: 71px;
          }
        }
        &-images :nth-child(3) {
          height: 43.3vw;
          width: 50vw;
          left: 15vw;
          top: -77px;


        }
        &-images :first-child {

          height: 32.7px;
          width: 46.2px;
          left: -71px;
          top: -18px;

        }
        &-images :nth-child(2) {
          height: 2.5vw;
          width: 2.5vw;
          top: -6px;
          left: 4px;
        }
        &-images :last-child {
          top: 16px;
          left: -92px;

          width: 89.66px;
          @media screen and (max-width: 380px){
            font-size: 9px;
          }
        }
        .chooseSize {
          margin:0;
          ul {
            height: 16px;
            margin-bottom: 49px;
            input[type=radio] {
              top: -1px;
            }
          }
          label {
            font-size: 13px;
            left: -9px;
            bottom: 5px;
          }
        }
        &-amount {

          div:first-child {

            position: relative;
            left: -91px;
            bottom: 6px;
          }

        }
        .changeSum {
          .anotherAmount {
            width: 158px;
            height: 24px;
            position: relative;
            left:3.4vw;
padding-top: 6px;
          }
          &-label{
            left:40%;
          }
          div{
            width: 227px;
            margin-left: -1vw;
            justify-content: start;
          }
          &-button{
            top:-19px;
            margin-bottom: 20px;
          }
        }
      }
      &-final-text {
left:-92px;
        width: 94vw;
      }
    }
  }
}