@import "../break-points";

.mainContent {
  width: 100%;
  height: 1699px;
  background: #FFFFFF;
  color: #333B41;
  position: relative;

  &__backstage {
    width: $large;
    margin: 140px auto 180px;
    height: 403px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 87px;
    font-weight: 400;
    letter-spacing: 0em;

    &-text,
    &-text div {
      width: 465px;
    }

    &-text h2 {
      font-size: 48px;
      line-height: 58px;
      text-align: left;
      margin-bottom: 20px;
    }

    &-description {
      font-size: 16px;
      line-height: 21px;
      text-align: left;
      margin-bottom: 54px;
    }

    &-title {
      font-size: 24px;
      line-height: 29px;
      text-align: left;
      margin-bottom: 34px;
    }

    &-content {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }

    &-flower {
      position: absolute;
      top: -128px;
      right: 0;
      transition: .5s;
    }
  }

  &__slider {
    display: grid;
    grid-template-columns: 1fr 1158px 1fr;

    &:first-child {
      margin: 396px 20px auto auto;
    }

    &:last-child {
      margin: 396px 20px auto;
    }
  }

  &__pets {
    width: $large;
    margin: 0 auto 78px;
    position: relative;

    &-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-card {
      width: 366px;
      position: relative;
      border: 1px solid #fa6f32;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow: hidden;
      z-index: 30;

      &-info {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px 14px 16px;
      }

      &::before {
        position: absolute;
        content: '';
        left: 0;
        right: 0;

        width: 100%;
        top: 0px;
        height: 382px;
        background-color: #000000;
        z-index: 40;
        opacity: 0;
        transition: .5s;

      }

      &-mask {
        position: absolute;
        font-size: 24px;
        //height: 120px;
        color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 366px;
        transition: all 0.7s ease-in-out;
        text-align: center;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 50;

        &-name {
          text-transform: uppercase;
        }
      }

      &-photo {
        position: relative;
        border-radius: 5px;
        transition: 1s;
        height: 364px;
        overflow: hidden;

      }

      &:hover {
        border: none;
      }

      &:hover > &-photo {

        transform: scale(1.1);

      }

      &:hover::before {
        opacity: 0.5;
      }

      &:hover > &-info {
        display: none;
        border: none;
      }

      &:hover > &-mask {
        opacity: 1;
        top: 226px
      }

    }


    &__info {
      padding: 5px 12px 14px 14px;
      height: 60px;
      width: 366px;
      margin: -3px auto 0;
      border-bottom-radius: 5px;

      &-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
        text-transform: uppercase;
        color: #000000;
      }

      &-description {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
      }
    }
  }


  &__arrow div {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    text-align: center;
    cursor: pointer;

    &:active {
      background: #4B9200;
    }
  }

  &__arrow div img {
    margin-top: 45%;
  }

  &-button {
    margin: -30px auto 0;
    border-radius: 25px;
  }


  &__firstFlower {
    position: absolute;
    height: 460px;
    bottom: 0;
    transition: .3s;
  }

  .small-display {
    opacity: 0;
    transition: .5s;
  }

  &__secondFlower {
    height: 275px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}

.arrow {
  cursor: pointer;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.1);
    background: #E47209;
  }
}

@media screen  and (max-width: 1599px) {
  .mainContent {
    &__backstage {

      &-flower {
        width: 9vw;
      }

      &-text {
        h2 {
          font-size: 3vw;
        }
      }
    }

    &__firstFlower {
      width: 29vw;
      height: 28vw;
    }

    &__secondFlower {
      width: 24vw;
      height: 18vw;
    }
  }
  .mainContent__backstage-text, .mainContent__backstage-text div {
    width: 29vw;
  }
}

@media screen and (max-width: 1349px) {
  .mainContent {
    height: 1643px;

    &__backstage {
      width: 94vw;
      grid-column-gap: 31px;
      margin: 51px auto 152px;

      .image {
        margin-top: 9px;
        width: 45.5vw;
        height: 40.8vw;
        overflow: hidden;

        img {
          position: relative;
          left: -81px;
        }
      }

      &-flower {
        display: none;
      }

      &-text div {
        width: 454px;
      }
    }
&__slider{



}
    &__pets {
      width:100%;
      &-images {
        width: 1000px;
        height: 801px;
        justify-content: space-evenly;
        align-content: space-between;
        margin: 0 auto;
      }

      &-card {
        width: 294px;
        height: 354px;
        margin: 0;

        &::before {
          height: 354px;
        }

        &-photo {
          height: 294px;
        }
      }
    }

    &__slider {
      padding-top: 15px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      .arrow {
        position: absolute;
        padding-bottom: 20px;
      }

      &:first-child {
        top: 33%;
        left: 35%;
      }

      &:last-child {
        top: 33%;
        right: 33%;
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  .mainContent {

    &__backstage {
      & .image {
        height: 403px;
      }

      &-text {
        width: 370px;

        h2 {
          font-size: 28px;
          line-height: 34.5px;
        }

        div {
          width: 295px;
        }
      }
    }

    &__firstFlower {
      opacity: 0;
    }

    .small-display {
      opacity: 1;
      width: 21vw;
      height: 20vw;
      left: -12px;

    }

    &__secondFlower {
      width: 24vw;
      height: 18vw;
    }
  }
}

@media screen and (max-width: 940px) {
  .mainContent {
    height: 1421px;
    &__firstFlower {
      opacity: 1;
      width: 21vw;
      height: 32vw;
      left: 4px;
    }
    .small-display {
      opacity: 0;
    }
    &__secondFlower {
      width: 27vw;
      height: 20vw;
    }
    &__backstage {
      margin-bottom: 31px;

      .image {
        display: none;
      }

      //&-flower {
      //  display: block;
      //  height: 74vw;
      //  width: 1vw;
      //  top: -62px;
      //  right: -27px;
      //}

      &-description {

        margin-bottom: 32px;
      }

      &-title {
        margin-left: 4px;
        margin-bottom: 20px;
      }

      &-text {
        h2 {
          width: 454px;
          font-size: 48px;
          font-weight: 400;
          line-height: 58px;


        }

        div {
          width: 76vw;
        }
      }
    }
    &__pets {

      &-images{
        width:94vw;
        height: 756px;
        justify-content: space-between;
      }
      &-card:nth-child(5), &-card:nth-child(6) {
        display: none;
      }
      &-card {
        width: 285px;
        height: 332px;

        &-photo {
          width: 285px;
          height: 285px;
        }
        &-info{
          padding: 3px 12px 14px 13px;
          img{
            width:25px;
            height:28px;
          }
        }

      }
      &__info{

        &-name {
          font-size: 12px;
        }
        &-description {
          font-size: 12px;
          margin-top:-7px;
        }
      }
    }
    &__slider {


      &:first-child {
        top: 28%;
        left: 38%;
      }

      &:last-child {
        top: 28%;
        right: 35%;
      }

    }
    &-button{
      margin: -47px auto 0;
    }

  }
    }



@media screen and (max-width: 580px) {
  .mainContent {

    margin-top: 30vw;
    //height: 1957px;
    &__firstFlower {
      opacity: 0;
      width: 21vw;
      height: 32vw;
      left: 4px;
    }
    .small-display {
      opacity: 1;
      height: 22vw;
    }
    &__secondFlower {
      width: 27vw;
      height: 20vw;
      right: -6vw;
    }
    &__slider {
      width: 50%;
      //height: 1403px;
      position: relative;
      left: 10px;
      top: -10px;

      &:first-child {
        display: none;
      }

      &:last-child {
        display: none

      }
    }

    &__backstage {
      &-flower {
        height: 225px;
        top: -63px;
        right: -41px;
      }

      &-description {
        width: 92vw;
        margin-bottom: 21px;
      }

      &-title {
        margin-bottom: 10px;
      }

      &-text {

        h2 {
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;
          width: 300px;
          margin-top: 8px;
          margin-bottom: 9px;
        }

        div {
          width: 92vw;
          margin-bottom: 21px;
        }

      }

      &-content {
        margin-top: -10px;
      }
    }

    &__pets {
      height: 100%;
      width:56%;
      margin: 0 auto;
      &-images{
        margin: 0 ;
        justify-content: center;
      }
     &-card{
       margin:0 auto 20px;
     }
    }

  }

    }

@media screen and(max-width: 553px) {
  .mainContent {
    min-height: 1961px;
    &-button {
      position: absolute;
      bottom: 60px;
      left:10px;
    }
    &__pets{
      &-images{
        position: relative;
        left: -10px;
      }
    }
  }
}




