@import "../break-points";

input {
  all: unset;
}

.footer {
  width: $large;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 362px 1fr;
  height: 100%;

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-button{
      margin-top:19px;
      letter-spacing: -1px;
    }
    &-logo {
      width: 82px;
      height: 52px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      color: #FFFFFF;
      font-weight: 400;
      font-size: 19.01px;
      line-height: 22.82px;
      text-align: center;
      position: relative;

      &-bamboo {
        position: absolute;
        bottom: 10.5px;
        left: 8.5px;
      }
    }

    &-links {
margin-bottom: 10px;
      & li {
        margin-bottom: 8px;
      }

      & a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #FFFFFF;

        &:hover {
          color: #4B9200;
        }
      }
    }
  }

  &__navigation {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22.4px;
    display: flex;
    align-items: end;
    gap: 438px;
position: relative;
    bottom: 16px;
    &-list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 472px;
    }

    &-item a {
      color: #FFFFFF;
      text-decoration: none;

      &:hover {
        color: #FFFFFF;
        border-bottom: 1px solid #F9804B;
      }
    }
  }

  &__subscription {
    padding-left: 31px;

    & > div {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      color: #ffffff;
      margin-bottom: 14px;

    }

    &-form {


      input {

        height: 42px;
        width: 228px;
        background: none;
        border: 0.7px solid #F9804B;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 10px 7px 10px 10px;
        box-sizing: border-box;
        color: white;

        &:focus {
          color: red;
          border: 1px solid #D31414;
        }

        &:valid {
          color: #4B9200;
          border: 1px solid #4B9200;
        }
      }

      &-button {
        height: 42px;
        width: 129px;
        margin-left: 8px;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          border-radius: 5px;


        }
      }

      &:valid .footer__subscription-form-button {
        color: #4B9200;
        border: 1px solid #4B9200;
      }

      &:invalid .footer__subscription-form-button {
        color: red;
        border: 1px solid #D31414;
        font-size: 16px;
      }


    }

    &-information {
      height: 268px;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: end;

      div {
        font-size: 16px;
        font-weight: 10;
letter-spacing: 1.5px;
        &:hover {
          border-bottom: 1px solid #F9804B;
        }

        &:active {
          color: #4B9200;
          border-bottom: 1px solid #4B9200;

        }
      }


    }
  }
}

.circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #C4C4C480;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-right: 12px;

  &:hover {
    background-color: #4B9200;
  }
}

.about a {
  color: #F9804B;
}
@media screen and(max-width: 1220px){
  .footer {
    width: 94%;
position: relative;
    &__subscription {
& >div{

  position: absolute;
  top: 42px;
  right: -2.9vw;
  &:first-child{
    position: relative;
    top:0;
    right:150px;
    white-space: nowrap;
    @media screen and (max-width: 639px){
      right:-53vw;
    }
  }
}
     &-form {
        position: absolute;
        top: 41px;
        right: 3.1vw;
      }
      &-information{
        height: 312px;
      }
    }
    &__links {
      &-links{
        margin:0;
      }
      &-button {

        margin-top: 23px;
      }

    }
    &__navigation{
      bottom:0;
div{
  letter-spacing: 0;
}
      &-list{
        width:332px;
      }
    }
  }
}
@media screen and(max-width: 935px) {
  .footer {
    position: relative;
    width: 94%;
   display: flex;
    height:282px;
    &__links {

      &-logo {

      }
    }

    &__subscription {
      &-form {
        display: none;
      }

      & > div {

        &:first-child {

        }
      }

      &-information {
height: 36vw;
        & div{
          right: -5.5vw;
          letter-spacing: -0.1px;
          position:relative;
          right:31px;
        }
      }
    }

    &__links {
      &-links {
position: absolute;
        top: 10px;
        right: -11px;
        display: flex;
        & li {
          margin-bottom: 19px;
        }
      }
      &-logo{
        top:12px
      }
    }

    &-button {

    }
    .button {
      position: absolute;
      top: 72px;
      border-radius:10px;
    }

    &__navigation {
      bottom: 12px;
      right: 80px;
      width:46.5vw;
    }


    .network {
      display: none;
    }
  }
}

@media screen and(max-width: 639px) {
  .footer {
height: 100%;
display: block;
    &__links {

      &-logo {
border:none;
        width:40vw;
        height: 23px;
        position:relative;
        margin: 0 auto;
        &-bamboo{
          bottom: 6.5px;
          left: 71.5px;
        }
      }
    }

    &__subscription {
      &-form {

      }

      & > div {
        top: 16%;
        right: -6.9vw;
        @media screen and(max-width: 515px){
          top:27%;
        }@media screen and(max-width: 515px){
          top:33%;
        }@media screen and(max-width: 342px){
          top:44%;
        }
        &:first-child {

        }
      }

      &-information {

        & div{

        }
      }
    }

    &__links {
      &-links {
        position: static;
        margin: 53px  auto 0;
      &  ul {
          width: 60vw;
          display: flex;
gap:18px;
        }


        & li {

        }

      }
      &-logo{
top:21px;
      }
    }

    &-button {

    }
    .button {
margin-top: 58px;
    }

    &__navigation {
width: 98%;
      right: -8px;
      top: 43%;
      @media screen and(max-width: 515px){
        top:50%;
        right: -6px;
      }
    }


    .network {

    }
  }
}