@import "../break-points";

.header {
  max-width: $large;
  margin: 0 auto;
  display: flex;

  &__logo {
    padding-top: 4px;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19.01px;
    line-height: 22.82px;
    text-align: center;
    position: relative;

    &-bamboo {
      position: absolute;
      bottom: 10.5px;
      left: 8.5px;

    }
  }

  &__navigation {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22.4px;
    margin-left: 63px;
    display: flex;
    align-items: center;
    gap: 438px;

    &-list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      width: 472px;
    }

    &-item a {
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
        border-bottom: 1px solid #F9804B;
      }
      &:active{
        color:#F9804B;



      }


    }

  }
}
.about a{
  color:#F9804B;
}
@media screen and (max-width: 1599px) {
  .header {
      min-width:94%;
    margin:0 30px;
    &__navigation {
     width: 80%;
      gap: 0;
justify-content: space-between;
      &-list {
        justify-content: flex-start;
        gap: 48px;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  header{
    position: relative;
  }
  .header{
    min-width:94%;
    margin:0  30px;
    &__navigation {
      width:85%;
    }
}
}