@import "../break-points";

.section-testimonials{
  width:100%;
  position:relative;
}


.testimonials {
  height: 911px;
  width: 1600px;
  padding-top: 128px;
  margin:0 auto;

  &__wrapper {
    width: $large;
    margin:0 auto;
h2{
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-bottom: 47px;

}
    &__cards{
      display: flex;
      justify-content: space-between;
    }
    &-progress{
text-align: center;
    }
    &-button {
margin-top: 10px;
      border:none;
      border-radius: 0px;
    }
  }
  &-leaveImage {
position: absolute;
    bottom:-130px;
    right:0;
  }
}


input[type=range] {
  -webkit-appearance: none;
  margin: 22px 0;
  width: 599px;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #e0e4e8;
  border-radius: 1.3px;

}
input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 20%;
  border-radius: 3px;
  background: orange;
  cursor: pointer;
  -webkit-appearance: none;
}
@media screen and (max-width: 1599px){
  .testimonials {
    width: 100vw;

    padding-top: 100px;
  }

}
@media screen and (max-width: 1250px){
  .testimonials {
    height: 840px;
    &__wrapper{
      width:940px;
      h2{
        margin-bottom: 30px;
      }
    &__cards {
      & img{
        width:293px;
        height: 391px;
      }
      & img:last-child {
        display: none;
      }
    }
      &-progress{
        input[type=range] {
          width: 390px;
          height: 8px;
        }
      }
      &-button{
        margin:27px 0 0 1px;
        border-radius: 5px;
      }
      .button{
        padding:2px 0 0 7px;
      }
  }
    &-leaveImage{
      height: 311px;
      width: 193px;
      right: 0;
      top: 609px;


    }
  }
}
@media screen and (max-width: 1000px){

}

